{% extends './head_foot.html' %}

{% block estilos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/head_foot.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/style_admin.css')}}">
{% endblock %}


{% block titulo %}
<title>Asesorias(Admin)</title>
{% endblock %}

{% block main %}
<main class="myMain">
        <div class="conten_GUsuarios">
        <div class="usuario">
            <img src="{{url_for('static',filename='images/hombre.png')}}" alt="imagen usuario">
            <div><p><span>Mi perfil</span> (Administrador)</p>
                <p>{{datUs['nombre_usuario']}}</p>
                 </div>
        </div>
    </div>
        
        <section class="datos">
            <div class="Asesorias_Activas">
                <p>Asesorias Activas</p>
                <div>
                    <figure>
                        <img src="{{url_for('static',filename='images/webMateria.png')}}" alt="icono estructura de datos">
                    </figure>
                    <p>Estructura de Datos</p>
                    <button>Detalles</button>
                </div>
                <div>
                    <figure>
                        <img src="{{url_for('static',filename='images/webMateria.png')}}" alt="Icono lenguajes y automatas">
                    </figure>
                    <p>Lenguajes y Automatas</p>
                    <button>Detalles</button>
                </div>
                <div>
                    <figure>
                        <img src="{{url_for('static',filename='images/webMateria.png')}}" alt="icono PrograWeb">
                    </figure>
                    <p>Programacion Web</p>
                    <button>Detalles</button>
                </div>
                
            </div>
            {% block mensaje %}
                {% for message in get_flashed_messages() %}
                <span class="alert alert-warning alert-dismissible fade show" role="alert" >
                    <p>{{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                    </p>
                  </span>
                {% endfor %}
                {% endblock %}
            <div class="btnsAdmin">
                <button id="btnNV"><img src="{{url_for('static',filename='images/plus.png')}}" alt="nueva asesoria" >Asesoria</button>
                <button id="btnAV"><img src="{{url_for('static',filename='images/darse-cuenta.png')}}" alt="avisos" >Avisos</button>
            </div>
            <section class="modificaciones inactivo">
                <p>Estructura Asesoria</p>

                <form action="/misAsesorias/docenteAseso" method="post" >
                    <label for="txtNom" >
                        Nombre
                        <input type="text" placeholder="Nombre Asesoria" id="txtNom" name="nom_Aseso">
                    </label>
                    <label for="">Docente
                        <select name="nom_Doce" id="" >
                            <option value="Docentes" >---Docentes---</option>
                            {% for s in datDoce %}
                            <option value="{{s['nombre_usuario']}}">{{s['nombre_usuario']}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="">
                        Clasificacion
                        <select name="clas_Aseso">
                            <option value="Clasificaciones">---Clasificaciones---</option>
                            <option value="Programacion">Programacion</option>
                            <option value="Ciencias">Ciencias</option>
                            <option value="Quimica">Quimica</option>
                            <option value="Novedades">Novedades</option>
                        </select>
                    </label>
                    <label for="txtCapacid">
                        Capacidad
                        <input type="number" placeholder="Numero Alumnos" id="txtCapacid" name="cap_Aseso" >
                    </label>
                    <div>
                        <p>Periodo</p>
                        <label for="fchInicio">
                            Inicio
                            <input type="date"  id="fchInicio" name="fchIni_Aseso" >
                        </label>
                        <label for="fchFin" >
                            Fin
                            <input type="date" id="fchFin" name="fchFin_Aseso" >
                        </label>
                    </div>
                    <label for="">
                        Aula
                        <input type="text" placeholder="Aula Clases" name="aula_Aseso">
                    </label>
                    <p>Horario</p>
                    <div class="Horario">
                        
                        <label for="">
                            Lunes
                            <label for="">
                                Hora Inicio
                                <select name="Lun_hi" id="" >
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00" >08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                Hora Fin
                                <select name="Lun_hf" id="">
                                    <option value="00:00">---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </label>
                            
                        </label>
                        <label for="">
                            Martes
                            <label for="">
                                Hora Inicio
                                <select name="Mar_hi" id="" >
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                Hora Fin
                                <select name="Mar_hf" id="" >
                                    <option value="00:00">---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </label>
                        </label>
                        <label for="">
                            Miercoles
                            <label for="">
                                Hora Inicio
                                <select name="Mie_hi" id="">
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                Hora Fin
                                <select name="Mie_hf" id="">
                                    <option value="00:00">---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </label>
                        </label>
                        <label for="">
                            Jueves
                            <label for="">
                                Hora Inicio
                                <select name="Jue_hi" id="" >
                                    <option value="00:00">---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                Hora Fin
                                <select name="Jue_hf" id="" >
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </label>
                        </label>
                        <label for="">
                            Viernes
                            <label for="">
                                Hora Inicio
                                <select name="Vie_hi" id="" >
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                Hora Fin
                                <select name="Vie_hf" id="" >
                                    <option value="00:00" >---00:00----</option>
                                    <option value="08:00">08:00</option>
                                    <option value="09:00">09:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </label>
                        </label>
                    </div>
                    <div class="botones">
                        <input type="submit" id="modiAceptada" value="Guardar">
                        <input type="button" id="modiCancelada" value="Cancelar">
                    </div>
                </form>
            </section>
            <section class="conf_AddAsero inactivo">
                <div class="contenido_msj">
                <img src="{{url_for('static',filename='images/email.png')}}" alt="">
                <p>¿Deseas agregar la asesoria?</p>
            </div>
                <div class="botones">
                    <input type="button"  id="" value="Aceptar">
                    <input type="button" id="" value="Cancelar">
                </div>
            </section>
            <section class="conf_AddAsero msjAseso inactivo">
                <div>
                <img src="{{url_for('static',filename='images/expediente.png')}}" alt="">
                <p>Asesoria Guardada</p>
            </div>
                <div class="botones">
                <input type="button" id="AceptF" value="Aceptar">
                </div>
            </section>

            <section class="conf_AddAsero inactivo avisoEnv">
                <div>
                <img src="{{url_for('static',filename='images/darse-cuenta.png')}}" alt="">
                <p>Aviso Enviado</p>
            </div>
                <div class="botones">
                <input type="button" id="avienv" value="Aceptar">
                </div>
            </section>

            <section class="avisos conf_AddAsero inactivo">
                <p>Describe el aviso</p>
                <form action="/misAsesorias/avisos" method="post">
                    <label for="av_Asunto">
                        Asunto
                        <input type="text" id="av_Asunto" name="msj_asunto">
                    </label>
                    <label for="av_Descripcion">
                        Descripcion
                        <input type="text" id="av_Descripcion" name="msj_descripcion">
                    </label>
                    <div class="botones">
                        <input type="submit"  id="acepAviso"value="Aceptar">
                        <input type="button" id="canAviso" value="Cancelar">
                    </div>
                </form>
            </section>
            <div class="Mas_Sugeridos">
                <p>Mas Votado</p>
                <article>
                    <p>Carlos Bautista</p>
                    <div class="cuerpo">
                        <div class="msj">
                            <img src="{{url_for('static',filename='images/avatar.png')}}" alt="icono usuario">
                            <p>Hola, es posible que se abra una asesoria en lenguajes y automatas 2</p>
                        </div>
                        <div>
                            <label for="chLike">
                                <img src="{{url_for('static',filename='images/like_full.png')}}" alt="iconoLike">
                                <input type="checkbox" id="chLike" hidden >
                            </label>
                            <p>32</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='javaScript/js_inicio.js')}}"></script>
<script src="{{url_for('static',filename='javaScript/js_wind_admin.js')}}"></script>
{% endblock %}
