{% extends './head_foot.html' %}


{% block estilos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/head_foot.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/style_asesoria.css')}}">
{% endblock %}


{% block titulo %}
<title>Mis Asesorias</title>
{% endblock %}


{% block main %}
    <main class="myMain">
        <div class="conten_GUsuarios">
        <div class="usuario">
            <img src="{{url_for('static',filename='images/hombre.png')}}" alt="imagen usuario">
            <div><p><span>Mi perfil</span> (Estudiante)</p>
                <p>{{datUs['nombre_usuario']}}</p>
            </div>
            
        </div>
        <div class="botones">
            <a href="docente.html">Vista Docente</a>
            <a href="admin.html">Vista Admin</a>
        </div>
    </div>
        <div class="content_toggleAS">
            <p>Asesorias  /  Horarios</p>
            <div class="toggle_button" id="toggle">
                <li class="indicador"></li>
            </div>
        </div>
        <div class="tabla_horarios inactivo">
            <table>
                <thead>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </thead>
                <tbody>
                    {% for h in datAs %}
                    <tr>
                        {% for k in h['horario']%}
                        <td>
                            <p>{{h['nombre_asesoria']}}</p>
                            <p>{{k['HoraInicio']}}-{{k['HoraFin']}}</p>
                            <p>Aula:{{k['Aula']}}</p>
                            <p>Profesor: {{h['docente']['nombre']}}</p>
                        </td>
                        {% endfor %}
                        {% for i in range(h['horario']|length ,5)%}
                        <td></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <section class="zona_tarjetas ">
            <div class="one_card inactivo" id="inscribirme" >

                <div class="titulo_asesoria">
                <img src="{{url_for('static',filename='images/webMateria.png')}}" alt="icono asesoria">
                <p>Programacion Web</p>
                </div>

                <div class="datos_asesoria">
                    <p>Profresor: <span>Leonardo Martinez</span></p>
                    <p>Disponibles <span>completo</span></p>
                </div>

                <div class="hora_asesoria">
                    <p>Lu: 10:00-11:00</p>
                    <p>Mi: 10:00-11:00</p>
                    <p>Ju: 10:00-11:00</p>
                </div>
             <div class="valor_prog" >
                <figure>
                    <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                    <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                    <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                    <img src="{{url_for('static',filename='images/WhiteStar.png')}}" alt="icono valoracion">
                </figure>
                <div>
                    <input type="button" value="Inscribirme" class="boton bts btnInscrib">
                    <input type="button" value="Estadistica" class="boton btnEstadist">
                </div>
             </div>
                
            </div>
            <div class="conten_msj msj_confirm_inscript inactivo">
                <div class="cuerpo_msj">
                    <img src="{{url_for('static',filename='images/inscripcion.png')}}" alt="icono inscripcion">
                    <p>¿Deseas Inscribirte? Asesoria Simulacion</p>
                </div>
                <div class="cont_btn botones">
                <input type="button" value="Aceptar" class="boton btnACF">
                <input type="button" value="Cancelar" class="boton btnCCF">
                </div>
                
                
            </div>
            <div class="conten_msj msj_inscript msjInsF inactivo">
                <div class="cuerpo_msj">
                    <img src="{{url_for('static',filename='images/inscripcion.png')}}" alt="icono inscripcion">
                    <p>Inscripcion Exitosa!!</p>
                </div>
                <input type="button" value="Aceptar" class="boton btnACCFF">
                
            </div>
            <div class="show_student frmdat  inactivo">
                <form action="">
                    <input type="search" placeholder="Nombre Alumno">
                    <input type="button" value="Buscar">
                </form>
                <div class="showBusq">
                    <div class="res_Bus">
                        <img src="{{url_for('static',filename='images/user.png')}}" alt="Icono Usuario">
                        <p>Diego Manzo Avalos</p>
                        <p>Sistemas Computacionales</p>
                        <p>18420461</p>
                    </div>

                    <div class="res_Bus">
                        <img src="{{url_for('static',filename='images/user.png')}}" alt="Icono Usuario">
                        <p>Diego Manzo Avalos</p>
                        <p>Sistemas Computacionales</p>
                        <p>18420461</p>
                    </div>
                </div>
                <div class="botones">
                    <input type="button" value="Cerrar" id="btnShowC">
                </div>
            </div>
            <div class="add_student frmdat  inactivo">
                <form action="">
                    <input type="search" placeholder="Nombre Alumno">
                    <input type="button" value="Buscar">
                </form>
                <div class="showBusq">
                    <div class="res_Bus">
                        <img src="{{url_for('static',filename='images/user.png')}}" alt="Icono Usuario">
                        <p>Diego Manzo Avalos</p>
                        <p>Sistemas Computacionales</p>
                        <p>18420461</p>
                        <a href="#" class="addEstu"><img src="{{url_for('static',filename='images/plus.png')}}" alt="Icono Eliminar"></a>
                    </div>
                </div>
                <div class="botones">
                    <input type="button" value="Cerrar" id="btnCloseBusc">
                </div>
            </div>
            <div class="multi_cards">
                <p class="separador">Mis Asesorias</p>
               {% if "Error" in datAs[0] %}
               <p class="msj_Asesoria">Sin asesorias en curso!!!</p>
                {% else %}
                {% for i in datAs %}
                <div class="one_card">

                    <div class="titulo_asesoria">
                    <img src="{{url_for('static',filename='images/webMateria.png')}}" alt="icono asesoria">
                    <p>{{i['nombre_asesoria']}}</p>
                    </div>

                    <div class="datos_asesoria">
                        <p>Profresor: <span>{{i['docente']['nombre']}}</span></p>
                        {% if i['Espacios_disponibles'] == 0 %}
                        <p>Disponibles <span>completo</span></p>
                        {% endif %}
                        {% if i['Espacios_disponibles'] > 0%}
                        <p>Disponibles <span>{{i['Espacios_disponibles']}}</span></p>
                        {% endif %}
                    </div>

                    <div class="hora_asesoria">
                        {% for a in i['horario']%}
                        <p>{{a['Dia'][:2]}}:{{a['HoraInicio']}}-{{a['HoraFin']}}</p>
                        {% endfor %}
                        
                    </div>
                 <div class="valor_prog">
                    <figure>
                        <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                        <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                        <img src="{{url_for('static',filename='images/YellowStar.png')}}" alt="icono valoracion">
                        <img src="{{url_for('static',filename='images/WhiteStar.png')}}" alt="icono valoracion">
                    </figure>
                    <p class="vr_detalles"><a href="#">detalles</a></p>
                 </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename='javaScript/js_inicio.js')}}"></script>
<script src="{{url_for('static',filename='javaScript/js_toggle.js')}}"></script>
<script src="{{url_for('static',filename='javaScript/wind_asesorias.js')}}"></script>
{% endblock %}


